$mainBackgroundColor: #f8f8f8;
$secondaryBackgroundColor: rgba(0, 0, 0, 0.5);
$thirdBackgroundColor: #ffffff;
$secondaryColor: #00bdd3;
$normalButtonColor: #f4e041;
$hoverButtonColor: #FFE302;
$disabledButtonColor: #b4b4b4;
$errorColor: #CB3D40