@import "@/app/styles/mixins/mixins.scss";
@import "@/app/styles/variables/fontColor.scss";

.Footer {
  width: 100%;
  padding: 0 32px;
  @include FlexDirection();
  gap: 50px;
  color: $mainTextColor;
}

.titleFooter {
  width: 100%;
  @include FlexDirection();

  h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
}
