@import "@/app/styles/mixins/mixins.scss";
@import "@/app/styles/variables/fontColor.scss";
@import "@/app/styles/variables/backgroundColor.scss";

.inputWrapper {
  width: 100%;

  span {
    padding: 14px 16px;
    font-size: 12px;
    line-height: 14px;
    color: $errorColor;
  }
}

.Input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid rgba(208, 207, 207, 1);
  border-radius: 4px;
  background-color: $mainBackgroundColor;
}



::placeholder {
  color: $placeholderColor;
  font-size: 16px;
  line-height: 26px;
}

.errorInput {
  border: 2px solid $errorColor
}