@import "@/app/styles/mixins/mixins.scss";
@import "@/app/styles/variables/backgroundColor";

.App {
  font-family: Nunito;
  font-weight: 400;
  @include FlexContainer();
  background-color: $mainBackgroundColor;
}