@import "@/app/styles/mixins/mixins.scss";
@import "@/app/styles/variables/backgroundColor.scss";
@import "@/app/styles/variables/fontColor.scss";

.HeaderDescribe {
  width: 100%;
  height: 500px;
  position: relative;
  color: $secondTextColor;
  overflow: hidden;
  @include FlexDirection();
  gap: 32px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("@/shared/libs/assets/jpg/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $secondaryBackgroundColor;
    z-index: 2;
  }

  h1,
  p {
    width: 100%;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 3;

    @media (min-width: 360px) {
      width: 328px;
    }

    @media (min-width: 768px) {
      width: 380px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  button {
    position: relative;
    z-index: 3;
  }
}