@import "@/app/styles/variables/backgroundColor.scss";
@import "@/app/styles/mixins/mixins.scss";

.UserCard {
  height: 254px;
  padding: 20px;
  background-color: $thirdBackgroundColor;
  border-radius: 10px;
  @include FlexDirection();
  gap: 20px;

  @media (min-width: 360px) {
    width: 328px;
  }

  @media (min-width: 768px) {
    width: 344px;
  }

  @media (min-width: 1024px) {
    width: 282px;
  }

  @media (min-width: 1170px) {
    width: 370px;
  }
}

.userImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  @include FlexContainer();

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.userContact {
  @include FlexDirection();
  line-height: 26px;
}
