@import "@/app/styles/mixins/mixins.scss";
@import "@/app/styles/variables/fontColor.scss";

.CheerfulUsers {
  width: 100%;
  padding: 0 32px;
  @include FlexDirection();
  gap: 50px;
  color: $mainTextColor;
}

.titleCheerfulUsers {
  width: 100%;
  @include FlexDirection();

  h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
}

.userCars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }

  @media (min-width: 1170px) {
    width: 1170px;
  }
}